<section data-ng-controller="ObjectsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Objects</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="object in objects" data-ng-href="#!/objects/{{object._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="object.created | date:'medium'"></span>
				by
				<span data-ng-bind="object.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="object.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!objects.$resolved || objects.length">
    	No Objects yet, why don't you <a href="/#!/objects/create">create one</a>?
    </div>
</section>